$color-green-1:#1f3d36;
$color-green-2:#397D6B;

$color-orange-1:#ff7601;

$pd-0: 10px;
$pd-1: 15px;
$pd-2: 40px;
$pd-3:30px;

$br-0:7px;
$br-1:20px;

$breakponits:(
    'extra-large':1200px,
    'large':992px,
    'medium':768px,
    'small':576px,
)